{% extends 'base.html' %}
{% block content %}

    <div class="p-5" style="text-align: center;">
        <h2>Esta pagina contiene diferentes imagenes de prueba</h2>
        <hr>
    </div>

    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-4">
                <img src="http://lorempixel.com/300/150/sports" alt="">
                <p><strong>Imagen de prueba</strong></p>
            </div>
            <div class="col-md-4">
                <img src="http://lorempixel.com/300/150/sports" alt="">
                <p><strong>Imagen de prueba</strong></p>
            </div>
            <div class="col-md-4">
                <img src="http://lorempixel.com/300/150/sports" alt="">
                <p><strong>Imagen de prueba</strong></p>
            </div>
        </div><br><br>

        <div class="row" style="text-align: center;">
            <div>
                <img src="http://lorempixel.com/800/400/sports" alt="">
                <p><strong>Imagen de prueba</strong></p>
            </div>
        </div>
    </div>
    

{% endblock content %}