{% extends 'Base.html' %}
{% block content %}

<div class="jumbotron p-4">
    <h1 class="display-4"><strong>Armando Cabral Martinez 15131296</strong></h1>
    <p class="lead">Esta es una pagina simple de prueba para la clase de desarrollo web pila completa I </p>
    <hr class="my-4">
    <p>Django es un framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido como modelo–vista–controlador (MVC).</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'content' %}" role="button">Ver mas...</a>
    </p>
  </div>

{% endblock content %}